:root {
  --bg-color: #010e18;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  display: flex;
}

#map {
  width: 95vw;
  height: 100vh;
  position: relative;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #dbdbdf;
  }
}

.navBar {
  padding: 18px 0;
  min-width: 60px;
  width: 5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: space-between;

  button {
    position: relative;
    border: 0;
    background: transparent;
    margin: 8px 0;
    cursor: pointer;

    .tooltip {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 2000;
      top: 20px;
      transform: translateY(-50%);
      left: 190%;
    }

    &:hover .tooltip {
      visibility: visible;
    }

    img {
      width: 40px;
    }
  }

  > .missionButtons,
  > .dronesButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.droneCards {
  position: absolute;
  bottom: 10px;
  left: 24px;
  color: white;
  z-index: 1000;

  &__container {
    display: flex;
  }

  &__card {
    margin-right: 1rem;
    background-color: white;
    color: black;
  }
}
