@font-face {
  font-family: "SF Pro Display";
  src: url("fonts/SFProDisplay-Regular.eot");
  src: url("fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("fonts/SFProDisplay-Regular.woff") format("woff"),
    url("fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("fonts/SFProDisplay-Bold.eot");
  src: url("fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("fonts/SFProDisplay-Bold.woff") format("woff"),
    url("fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --bg: #252f3f;
  --secondary-bg: #4b5563;
  --main-text: #f4f5f7;
  --secondary-text: #d2d6dc;
  --error-bg: #f05252;
  --error-text: #fbd5d5;
  --success-bg: #0e9f6e;
  --success-text: #bcf0da;
  --warning-bg: #c27803;
  --warning-text: #fce96a;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "SF Pro Display";
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "SF Pro Display";
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  display: flex;
}

#map {
  width: 95vw;
  height: 100vh;
  position: relative;
}
#attitudeIndicator {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}


@media (prefers-color-scheme: light) {
  :root {
    --bg: #d2d6dc;
    --secondary-bg: #f4f5f7;
    --main-text: #374151;
    --secondary-text: #9fa6b2;
  }
}

.navBar {
  padding: 2rem 0;
  min-width: 60px;
  width: 5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  align-items: center;
  justify-content: space-between;

  button {
    position: relative;
    border: 0;
    //border-bottom: 1px solid var(--secondary-bg);
    background: transparent;
    padding: 1.5rem 0;
    width: 100%;
    cursor: pointer;

    &:hover,
    &:focus,
    &.isPlay {
      outline: none;
      background: var(--secondary-bg);
    }

    .connection-signal {
      position: absolute;
      background: var(--error-bg);
      height: 0.5rem;
      top: 50%;
      transform: translateX(-60%) translateY(-50%);
      width: 2rem;
      border-radius: 50px;
      box-shadow: rgba(242, 82, 82, 0.5) 1px 0 4px;
      z-index: 3000;
      display: block;
    }

    .connected {
      background: var(--success-bg);
      box-shadow: rgba(14, 159, 110, 0.5) 1px 0 4px;
    }

    .tooltip {
      visibility: hidden;
      width: 120px;
      background-color: var(--bg);
      color: var(--main-text);
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 2000;
      top: 50%;
      transform: translateY(-50%);
      left: 120%;
      box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px;
    }

    &:hover .tooltip {
      visibility: visible;
    }

    img {
      width: 40px;
    }

    g,
    path {
      fill: var(--main-text);
    }
  }

  > .missionButtons,
  > .dronesButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.droneCards {
  position: absolute;
  bottom: 2rem;
  left: 24px;
  color: var(--main-text);
  z-index: 1000;

  &__container {
    display: flex;
  }

  &__card {
    min-width: 30rem;
    min-height: 15rem;
    padding: 16px;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: var(--secondary-bg);
    cursor: default;

    &__commands {
      display: flex;
      align-items: center;
    }

    &__titleBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--secondary-text);

      button {
        border: none;
        background: transparent;
        margin-right: 4px;
        padding: 4px;
        cursor: pointer;

        svg {
          transform: scale(2);
        }

        path {
          fill: var(--main-text);
        }

        circle {
          stroke: var(--main-text);
        }
      }
    }

    &__battery {
      font-size: 1rem;
      border-radius: 2px;
      background-color: var(--success-bg);
      color: var(--success-text);
      box-shadow: rgba(14, 159, 110, 0.5) 0px 0 4px;
      padding: 1px 6px;
    }

    &__battery.lowBattery {
      background-color: var(--warning-bg);
      color: var(--warning-text);
      box-shadow: rgba(194, 120, 3, 0.5) 0px 0 4px;
    }

    &__battery.extremeLowBattery {
      background-color: var(--error-bg);
      color: var(--error-text);
      box-shadow: rgba(242, 82, 82, 0.5) 0px 0 4px;
    }

    &__latlng {
      margin-top: 16px;
    }

    &__title {
      text-transform: uppercase;
      font-weight: bold;
      color: var(--secondary-text);
      margin-right: 4px;
    }
  }
}

.leaflet-tooltip {
  background-color: var(--bg);
  border: none;
  color: var(--main-text);
}

div.instrument {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

div.instrument .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.instrument.attitude div.roll {
  transform: rotate(0deg);
}
div.instrument.attitude div.roll div.pitch {
  top: 0%;
}